/* line 1, app.scss */
#main {
  margin: 10px auto;
  width: 720px;
  min-height: 1280px;
  background-color: #f7f7f7;
  border: 1px solid #000;
  position: relative;
  height: 1280px;
}
/* line 9, app.scss */
#main header {
  background: url(image/header.png) no-repeat top center;
  height: 148px;
  position: fixed;
  top: 11px;
  left: 0;
  width: 100%;
  z-index: 2;
}
/* line 18, app.scss */
#main footer {
  background: url(image/footer.png) no-repeat top center;
  height: 96px;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  left: 0;
}
/* line 27, app.scss */
#main .container {
  height: 1036px;
  overflow: scroll;
  padding-top: 148px;
}
/* line 33, app.scss */
#main section {
  min-height: 150px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #bdbdbd;
  padding-left: 24px;
  padding-top: 32px;
}
/* line 39, app.scss */
#main section::after {
  clear: both;
  display: table;
  content: " ";
}
/* line 44, app.scss */
#main section .column {
  float: left;
}

/* line 49, app.scss */
.avatar {
  width: 72px;
  height: 72px;
  background-color: #f4f4f4;
}
/* line 53, app.scss */
.avatar img {
  width: 72px;
}

/* line 57, app.scss */
.content {
  margin-left: 28px;
  width: 596px;
}
/* line 60, app.scss */
.content .name {
  color: #576b94;
  font-size: 29px;
  line-height: 33px;
  font-weight: 600;
}
/* line 66, app.scss */
.content p {
  padding-top: 16px;
  font-size: 30px;
  line-height: 34px;
  padding-right: 26px;
}
/* line 71, app.scss */
.content p img {
  width: 30px;
  vertical-align: -5px;
}
/* line 76, app.scss */
.content .attachment {
  padding-top: 20px;
}
/* line 79, app.scss */
.content .datetime {
  color: #858585;
  font-size: 20px;
}
/* line 83, app.scss */
.content .footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 16px;
}
/* line 87, app.scss */
.content .footer .comments {
  position: relative;
  background-color: #ededed;
  margin-right: 28px;
  margin-top: 10px;
  padding: 6px 12px 8px;
}
/* line 93, app.scss */
.content .footer .comments::after {
  bottom: 100%;
  left: 28px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(237, 237, 237, 0);
  border-bottom-color: #ededed;
  border-width: 10px;
  margin-left: -10px;
}
/* line 107, app.scss */
.content .footer .comments li {
  font-size: 22px;
  height: 30px;
  padding-top: 4px;
}
/* line 111, app.scss */
.content .footer .comments li span {
  color: #576b94;
  font-weight: 700;
}
/* line 115, app.scss */
.content .footer .comments li img {
  width: 30px;
  vertical-align: -5px;
}
/* line 122, app.scss */
.content .comment-icon {
  background-color: #8694b0;
  width: 38px;
  height: 34px;
  position: absolute;
  top: 20px;
  right: 32px;
}
/* line 129, app.scss */
.content .comment-icon .spot {
  background-color: #fff;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 13px;
  left: 6px;
}
/* line 137, app.scss */
.content .comment-icon .spot:first-child {
  left: 24px;
}
/* line 141, app.scss */
.content .comment-icon::after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #8694b0;
  border-width: 6px;
  margin-top: -6px;
}
